<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Achieve</title>
    <link rel="stylesheet" href="../../assets/stylesheet/application.css">
</head>
<body>
  <header>
    <ul class="left">
      <li class="left-li"><a href="#">Achieve</a></li>
      <li class="left-li"><a href="#">お問い合わせ</a></li>
    </ul>
    <ul class="right">
      <li class="right-li"><a href="#">サインアップ</a></li>
      <li class="right-li"><a href="#">ログイン</a></li>
    </ul>
  </header>
  <section class="about">
    <div class="about-content">
      <h1>Confirm & Tweet</h1>
      <%= form_with( model: @tclone, local: true ) do |form| %>
        <%= form.hidden_field :content %>
        <p>内容:<%= @tclone.content %></p>
        <%= form.submit "ツイートする" %>
        <%= form.submit "戻る", name: 'back' %>
      <% end %>
    </div>
  </section>
  <footer>
    <p>株式会社DOUSHIN</p>
    <p>© 2020 Copyright DOUSHIN Corp.</p>
  </footer>
</body>
</html>
